* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






body {

    background-color: #0b0b0b;
    color: rgb(249, 247, 247);
    font-family: sans-serif;

}

/* FLEX BOX */
header {
    color: #0A1222;
    background-color: #FFFFFF;
    width: 100%;
    height: 52px;
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: auto;
    gap: 60px;

    .header_button button {

        background-color: #034BFF;
        color: #FFFFFF;
        transform: translate(-80px);
        padding: 1px 12px;
        cursor: pointer;

    }
}


ul {
    width: 1024;
    height: 52;
    transform: translate(40px);


    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: auto;
    gap: 60px;
}

.hero {

    background-color: #08111D;
    padding-top: 96px;

    .hero_content1>h1 {
        transform: translate(120px);
        margin-top: -50px;
        font-size: 80px;
    }

    .hero_content2>h1 {
        transform: translate(120px);
        color: #034BFF;
        font-size: 80px;
    }

    .symbole>h1 {
        color: chartreuse;
        transform: translate(370px);
        margin-top: -90px;
        font-size: 80px;
    }

    .expli>h4 {
        transform: translate(120px);

    }

    .expli>h6 {
        transform: translate(120px);
        margin-top: 14px;
    }


}

.hero_button {
    transform: translate(120px);
    display: flex;


    .button1 {
        color: #FFFFFF;
        background-color: #034BFF;
        border: none;
        text-align: center;
        padding: 10px 13px;
        margin-top: 30px;
    }

    .button2 {
        background-color: #08111D;
        color: white;
        text-align: center;

        margin-top: 30px;

        border-style: solid;
        border-color: #8EABFF;
        text-align: center;
        padding: 12px 21px;
        transform: translate(24px);
    }
}




.hero_img {
    display: flex;
    flex-direction: row-reverse;



    margin-top: -367px;
    transform: translate(0px);
}

.stats {
    display: flex;
    gap: 60px;
    background-color: #FFFFFF;
    color: #08111D;

    .symb1 {
        color: #034BFF;
        font-size: 42px;
        transform: translate(20px);

    }

    .one {
        transform: translate(-33px);
    }

    .explii1 {
        transform: translate(-185px);
        margin-top: 30px;
    }

    .symb2 {
        color: #034BFF;
        font-size: 29px;
        transform: translate(35px);
    }

    .two {
        transform: translate(-20px);
        font-size: 14px;
        margin-top: 3px
    }

    .explii2 {
        transform: translate(-120px);
        margin-top: 30px;
    }




    .symb3 {
        transform: translate(50px);
        margin-top: 10px;
        font-size: 29px;
        color: #034BFF;
    }

    .three {
        transform: translate(-10px);
        margin-top: 4px;
        font-size: 34px;
    }

    .explii3 {
        transform: translate(-120px);
        margin-top: 35px
    }


    .symb4 {
        font-size: 29px;
        margin-top: 8px;
        color: #034BFF;
    }

    .four {
        transform: translate(-48px);
        font-size: 33px;
        margin-top: 7px;
    }

    .explii4 {
        margin-top: 37px;
        transform: translate(-168px);
    }
}

.environnement {
    background-color: #F4F7FC;
    height: 500px;

    .explication1>h6 {
        color: #034BFF;
        transform: translate(44px);
        font-size: 10px;
        padding-top: 40px;
        font-size: 15px;
    }

    .explication2 {
        color: #0A1222;
        margin-top: 18px;
        transform: translate(44px);
        font-size: 30px;
    }

    .explication3 {
        color: #0A1222;
        font-size: 10px;
        transform: translate(44px);
        margin-top: 12px;
        font-size: 14px;

    }

    .environnement_button button {
        border-radius: 7px;
        transform: translate(44px);
        margin-top: 60px;
        background-color: #034BFF;
        color: #F4F7FC;
        padding: 12px 25px
    }

    .img_environnement1 {


        transform: translate(470px);
        margin-top: -340px;

    }

    p.expii1 {

        color: #fdfdfe;

        border-style: solid;
        background-color: #08111D;
        border-radius: 7px;
        padding: 12px 22px;
        width: 200px;
        transform: translate(520px);
        margin-top: 114px;
    }

    .expii2 {
        color: #F4F7FC;
        border-style: solid;
        background-color: #08111D;
        padding: 12px 22px;
        border-radius: 7px;
        width: 200px;
        transform: translate(1050px);



    }

    .expii3 {
        color: #F4F7FC;
        border-style: solid;
        background-color: #08111D;
        width: 230px;
        border-radius: 7px;
        padding: 12px 22px;
        transform: translate(1270px);
        margin-top: -240px;


    }

    .img_environnement2 {
        transform: translate(860px);
        margin-top: -300px;


    }

    .img_environnement3 {

        transform: translate(1160px);
        margin-top: -473px;

    }
}